
.authContainer{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  
  .auth_form{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 42px;
    gap: 30px;
    padding: 33px 73px 43px 73px;
    background: white;
    color: black;
    font-size: 27px;
  }

  .auth_form a{
    margin-top: 20px;
  }

  

.regContainer{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .reg_form{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 42px;
    gap: 20px;
    padding: 33px 73px 43px 73px;
    background: white;
    color: black;
    font-size: 27px;
  }
  
  .reg_form a{
    text-decoration: underline;
  }
  
  .reg_form input{
    padding: 12px 41px;
  }
  @media (max-width:700px) {
    .authContainer{
      justify-content: center;
    }
    .auth_form{
      padding: 33px;
    }
  }